.additional {
   padding: 71.14px 0 67.14px 0;
   background-color: $violet;
}

.additional-wrap {
   display: flex;
   // margin: 0 -15px;
}

.additional-information {
   width: 370px;
   margin: 0 15px;
}


// .additional-share-networks {
   
// }

.additional-information-location {
   @include h5;
   font-weight: 700;
   color: $white;
   text-align: center;
   margin-bottom: 29px;
}

.additional-information-melrose {
   @include h5;
   color: $white;
   text-align: center;
}

.additional-information-share {
   @include h5;
   font-weight: 700;
   color: $white;
   text-align: center;
   margin-bottom: 49px;
}

.additional-information-about {
   @include h5;
   font-weight: 700;
   color: $white;
   text-align: center;
   margin-bottom: 28.71px;
}

.additional-information-cras {
   @include h5;
   text-align: center;
   color: $white;
}

.additional-share-networks {
   display: flex;
   justify-content: center;
   margin-top: auto;
}

.additional-share-networks i {
   margin: 0 13px;
}

.fa-facebook-f, .fa-linkedin, .fa-twitter {
   @include social;
   transition: 0.3s;
}

.fa-facebook-f:hover, .fa-linkedin:hover, .fa-twitter:hover {
   transition: 0.5s;
   color: black;
   transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
   .additional {
      padding: 46.59px 0 41.19px 0;
   }
   .additional-information {
      width: 315px;
   }
   .fa-facebook-f, .fa-linkedin, .fa-twitter {
      width: 33px;
      height: 33px;
   }
   .additional-information-location, .additional-information-share, .additional-information-about {
      font-size: 14px;
      line-height: 16px;
   }
   .additional-information-melrose, .additional-information-cras {
      font-size: 14px;
      line-height: 16px;
   }
   .additional-information-location {
      margin-bottom: 17.72px;
   }
   .additional-information-share {
      margin-bottom: 32.51px;
   }
   .additional-information-about {
      margin-bottom: 15.58px;
   }
}

@media screen and (max-width: 576px) {
   .additional-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .additional {
      padding: 46.59px 0 41.19px 0;
   }
   .additional-information {
      width: 279px;
   }
   .fa-facebook-f, .fa-linkedin, .fa-twitter {
      width: 33px;
      height: 33px;
   }
   .additional-information-location {
      margin-bottom: 34px;
   }
   .additional-information-share {
      margin-bottom: 36.71px;
   }
   .additional-information-about {
      margin-bottom: 38.71px;
   }
   .additional-information-melrose {
      margin-bottom: 69.24px;
   }
   .additional-share-networks i {
      margin: 0 16.77px;
      margin-bottom: 59.05px;
  }

}