.card {
   padding: 114px 0;
  
}

.card-wrap {
   margin: 0 -15px; 
}

.card-people {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card-people-information {
   width: 270px;
   margin: 0 15px;
}

.card-icons {
   margin-bottom: 30px;
}

.card-icons img{
   height: 270px;
   width: 100%;
}

.card-title {
   @include h4;
   margin-bottom: 5.29px;
}

.card-profession {
   @include h5;
   color: $red;
   margin-bottom: 17.86px;
}

.card-information {
   margin-bottom: 37.86px;
   @include h5;
   color: $grey2;
}

.card-networks {
   display: flex;
   & i {
      margin-right: 6px;
   }
}

.fa-linkedin-card {
   margin: 0;
}

@media screen and (max-width: 1222.50px) {
   .card-people {
      justify-content: space-around;
   }
    .card {
      padding: 78.22px 0 78.41px 0; 
   }
   .card-people-information {
      width: 227.08px;
   }
   .card-icons {
      margin-bottom: 25.23px;
   }
   .card-title {
      margin-bottom: 5.29px;
      font-size: 18px;
      line-height: 21px;
   }
   .card-profession {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 17.86px;
   }
   .card-information {
      margin-bottom: 39.2px;
      font-size: 14px;
      line-height: 16px;
   }
   .card-networks i {
      margin-right: 4.21px;
   }
   .card-icons img{
      width: 100%;
      height: 227.08px;
   }
}

@media screen and (max-width: 1049.33px) {
   .card-people-information {
      width: 190px;
   }
   .card-icons img {
      width: 190px;
   }
   .card-people-information:last-child {
      padding-bottom: 0px;
   }
   .card-icons img{
      width: 100%;
      height: 190px;
   }
}

@media screen and (max-width: 867.50px) {
   .card-people-information {
      padding-bottom: 49.39px;
   }
   .card-people-information:last-child {
      padding-bottom: 0px;
   }
}

@media screen and (max-width: 454px) {
   .card {
      padding: 35px 0 34.39px 0; 
   }
   .card-people-information {
      width: 227.08px;
   }
   .card-icons {
      margin-bottom: 25.25px;
   }
   .card-icons img {
      width: 227.08px;
   }
   .card-title {
      margin-bottom: 5.29px;
      font-size: 18px;
      line-height: 21px;
   }
   .card-profession {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 17.86px;
   }
   .card-information {
      margin-bottom: 39.2px;
      font-size: 14px;
      line-height: 16px;
   }
   .card-networks i {
      margin-right: 4.21px;
   }
   .card-icons img{
      width: 100%;
      height: 227.08px;
   }
}
