.card {
   padding: 114px 0; 
}

// .card-wrap {
//    margin: 0 -15px;
// }

.card-people {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.card-people-information {
   width: 270px;
   margin: 0 15px;
}

.card-icons {
   margin-bottom: 30px;
}

.card-title {
   @include h4;
   font-weight: 700;
   margin-bottom: 5.29px;
}

.card-profession {
   @include h5;
   color: $red;
   margin-bottom: 17.86px;
}

.card-information {
   margin-bottom: 37.86px;
   @include h5;
   color: $grey2;
}

.card-networks {
   display: flex;
}

.card-networks i {
   margin-right: 6px;
}


.fa-linkedin-card {
   margin: 0;
}
