.footer {
   padding: 23.86px 0 24.14px 0;
   background-color: $violet2;
}

.footer-wrap {
   display: flex;
   text-align: center;
   justify-content: center;
}

.footer-year {
   width: 370px;
}

.footer-information {
   @include h5;
   color: $white;
}

.fa-copyright {
   color: $white;
   transform: scale(0.7);
}

.footer-name {
   color: $grey3;
}

@media screen and (max-width: 1024px) {
   .footer {
      padding: 14.28px 0 14.43px 0;
   }
   .footer-year {
      width: 315px;
   }
   .fa-copyright {
      transform: scale(0.7);
   }
   .footer-information {
      font-size: 14px;
      line-height: 16px;
   }
}

@media screen and (max-width: 320px) {
   
}