.header {
   background-image: url('../img/img.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
}

.header:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(37, 43, 73, 0.8);
}

.header-wrap {
   position: relative;
   z-index: 1;
   margin: 0 -15px;
}

.header-icons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid $grey4;
}

// .header-icons::after {
//    content: '';
   
// }

.header-icons-logo a {
   display: flex;
   margin-left: 20px;
}

.header-icons-logo-start {
   color: $grey;
   font-family: 'Roboto';
   font-size: 25.75px;
   font-weight: 900;
   align-items: center;
   display: flex;
}

.header-icons-logo-end {
   color: $white;
   font-family: 'Roboto';
   font-size: 25.75px;
   font-weight: 100;
   align-items: center;
   display: flex;
}

// .header-navigation {

// }

.header-navigation-list {
   display: flex;
   align-items: center;
   
}

// .header-navigation-text {

// }

.navigation-text {
   @include h6;
   text-transform: uppercase;
   padding: 38px 34px;
   border-bottom: 3px solid transparent;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navigation-text:hover {
   padding-bottom: 38px;
   border-bottom: 3px solid $white;
}

.navigation-text:active {
   color: $red2;
   padding-bottom: 38px;
   border-bottom: 3px solid $red2;
}

.header-text {
   padding: 130px 0 120px 0;
   text-align: center;
   // margin: 0 -15px;
}

.header-text-card {
   margin: 0 15px;
}

.header-text-title {
   margin-bottom: 31.43px;
   @include h1;
   text-transform: uppercase;
}

.header-text-information {
   @include h5;
   margin-bottom: 82px;
   font-size: 1.5rem;
   line-height: 28px;
   color: $white;
}

.header-text-link {
   width: 369px;
   height: 77.58px;
   border: 1px none #ffffff;
   @include h4;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   background-color: $red;
   transition: 0.2s;
   color: $white;
}

.header-text-link:hover {
   transition: 0.2s;
   background-color: $red2;
} 

.header-text-link:active {
   background-color: $red;
   box-shadow: 4px 4px 30px 0 $red;
   transition: 0.2s;
}

.menu-bunger {
   display: none;
   @media (max-width: 768px) {
   display: block;
   width: 24px;
   height: 19px;
   position: relative;
   z-index: 10;
   cursor: pointer;
   margin-right: 30px;
   & span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      transform: translateY(-50%);
      &:first-child {
         top: 0;
         transform: translateY(0);
      }
      &:last-child {
         top: auto;
         bottom: 0;
         transform: translateY(0);
      }
      }
   }
}
@media screen and (max-width: 1024px) {
   .header-text {
      padding: 158px 0 126px 0;
   }
   .navigation-text {
      padding: 32px 26px;
      font-size: 12px;
      line-height: 14px;   
   }
   .navigation-text:hover {
      padding-bottom: 32px;
   }
   .navigation-text:active {
      padding-bottom: 32px;
   }
   .header-text-title {
      margin-bottom: 61.86px;
      font-size: 48px;
      line-height: 56px; 
   }
   .header-text-information {
      margin-bottom: 91.57px;
      font-size: 18px;
      line-height: 21px;
   }
   .header-text-link {
      width: 313.15px;
   }
}

@media screen and (max-width: 768px) {
   .header-icons {
      padding: 19px 0 0 0;
      border-bottom: none;
   }
   .header-icons-logo {
      z-index: 10;
   }
   .header-navigation {
      position: absolute;
      top: 0;
      left: -120%;
      height: 100vh;
      width: 100%;
      background-image: url('../img/img.jpg');
      transition: 0.2s;
      overflow: auto;
      // background-color: rgba(37, 43, 73, 0.8);
   }
   .header-navigation:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(37, 43, 73, 0.8);
   }
   .active {
      left: 0%;
      span {
         transform:scale(0);
         &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
         }
         &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
         }
      }

      .navigation-text {
         position: relative;
         z-index: 10;
         line-height: 66px;
         padding: 0;
         font-size: 24px;
         margin-bottom: 49px;
         margin-left: 20px;
         display: block;
      }
   }
   
   .header-navigation-list {
      padding: 108px 0 0 0;
      display: block;
   }
   
   .navigation-text:hover {
      padding-bottom: 0px;
      border-bottom: none;
   }
   
   .navigation-text:active {
      color: $red2;
      padding-bottom: 0px;
      border-bottom: none;
   }
}

@media screen and (max-width: 410px) {
   .header-text {
      padding: 69px 0 52px 0;
   }
   .navigation-text {
      font-size: 13px;
      line-height: 15px;   
   }
   .header-text-title {
      margin-bottom: 32.71px;
      font-size: 48px;
      line-height: 56px; 
   }
   .header-text-information {
      margin-bottom: 51.1px;
      font-size: 14px;
      line-height: 16px;
   }
   .header-text-link {
      width: 290px;
   }
}