.icons {
   padding: 127.07px 0 133.57px 0;
}

.icons-wrap {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 97.53px;
   margin: 0 -15px;
}

.icons-card-information {
   width: 370px;
   text-align: center;
   margin: 0 15px 97.53px;
}

.icons-card-information:nth-child(4), .icons-card-information:nth-child(5), .icons-card-information:nth-child(6) {
   margin-bottom: 0;
}

.icons-card-icons {
   margin-bottom: 60px;
}

.icons-card-title {
   @include h4;
   margin-bottom: 42.43px;
}

.icons-card-text {
   @include h5;
   color: $black;
}


@media screen and (max-width: 1221px) {
   .icons-card-information {
      width: 315px;
   }
}

@media screen and (max-width: 1056px) {
   .icons-card-start {
      margin-bottom: 49.85px;
   }
   .icons-card-information {
      width: 279px;
      margin-bottom: 49.85px;
   }
   .icons {
      padding: 87.41px 0 80.11px 0;
   }
   .icons-card-information {
      margin-bottom: 57.35px;
   }
   .icons-card-icons {
      margin-bottom: 35px;
   }
   .icons-card-title {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 26px;
   }
   .icons-card-text {
      font-size: 14px;
      line-height: 16px;
   }
}

@media screen and (max-width: 926px) {
   .icons {
      padding: 58.38px 0 34.85px 0;
   }
   .icons-wrap {
      justify-content: space-evenly;
   }
   .icons-card-information:nth-child(4) {
      margin-bottom: 49.85px;
   }
}

@media screen and (max-width: 639px) {
   .icons-card-information:nth-child(5) {
      margin-bottom: 49.85px;
   }
   .icons-card-information{
      width: 80%;
   }
}