.icons {
   padding: 127.07px 0 133.57px 0;
}

// .icons-wrap {
// }

.icons-card-start {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-bottom: 97.53px;
}

.icons-card-information {
   width: 370px;
   text-align: center;
   margin: 0 15px;
}

.icons-card-icons {
   margin-bottom: 62.87px;
}

.icons-card-title {
   @include h4;
   margin-bottom: 42.43px;
}

.icons-card-text {
   @include h5;
   color: $black;
}

.icons-card-end {
   border: 1px none black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

@media screen and (max-width: 1222.50px) {
   .icons-card-start {
      justify-content: space-around;
   }
   .icons-card-information {
      margin: 0 5px;
   }
}

@media screen and (max-width: 1024px) {
   .icons-card-information {
      width: 315px;
   }
   .icons-card-icons {
      transform: scale(0.9);
      margin-bottom: 42.87px;
   }
   .icons-card-title {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 26px;
   }
   .icons-card-text {
      font-size: 14px;
      line-height: 16px;
   }
}