@import "../scss/cnd";
@import "../scss/varColors";
@import "../scss/VarFrontSize";
@import "../scss/mimix";
@import "../scss/header";
@import "../scss/icons";
@import "../scss/project";
@import "../scss/card";
@import "../scss/swiper";
@import "../scss/ready";
@import "../scss/additional";
@import "../scss/footer";

* {
   padding: 0;
   margin: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

.html {
   font-family: 'Raleway', 'Roboto', 'Cardo', sans-serif;
}

body.lock {
   overflow: hidden;
}

.conteiner {
   max-width: 1370px;
   padding: 0 15px;
   margin: auto;
}