// .project {

// }

// .project-wrap {
//    display: flex;
//    justify-content: space-around;
//    flex-wrap: wrap;
// }

// .project-button-link {
   
// }

.project-button-link-start {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 2px;
}

.project-link {
   position: relative;
   transition: 0.2s;
   max-width: 378px;
   max-height: 340px;
   margin-right: 2px;
}

.overlay {
   display: flex;
   flex-direction: column;
}

.overlay p {
   margin-bottom: 30px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 28px;
}

.overlay span {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

.project-link:hover .overlay {
   opacity: 1;
}

.project-link .overlay {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   background-color: rgba(255, 67, 67, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 24px;
   transition: opacity 0.2s;
}

.project-link:active .overlay {
   background-color: rgba(185, 12, 12, 0.8);
}


.project-img {
   display: block;
   width: 100%;
   height: auto;
   & img {
      margin-right: 10px;
   }
}

.project-button-link-end {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

@media screen and (max-width: 1542px) {
   .project-link {
      max-width: 256.34px;
      max-height: 230.57px;
   }
   .overlay p {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 21px;
   }
   .overlay span {
      font-size: 14px;
      line-height: 16px;
   }
}

@media screen and (max-width: 1054.50px) {
   .project-link {
      max-width: 160px;
      max-height: 144px;
   }
   .overlay p {
      margin-bottom: 10px;
   }
   .project-button-link-start {
      margin-bottom: 0px;
   }
}