// .wraper {
//    height: 100%;  
// }

.swiper {
   max-width: 100%;
   max-height: 100%;
}

.swiper-slide {
   display: flex;
   align-items: center;
   background-color: #5C3249;
 }
 
 .swiper-text {
   flex: 1;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
      & span, p {
         color: $white;
         width: 330px;
         height: auto;
         margin: 0 15px;
      }
 }

// .swiper-wrapper {
   
// }

.red {
   background-color: $red2;
}
.yellow {
   background-color: #ffd900;
}
.blue {
   background-color: #0011ff;
}

.swiper-text p {
   font-family: 'Cardo';
   font-style: italic;
   font-weight: 400;
   font-size: 36px;
   line-height: 49px;
   text-transform: capitalize;
   margin-bottom: 15px;
}

.swiper-text span {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 15px;
}

.swiper-slide img{
   width: 100%;
   height: auto;
}

.swiper-pagination {
   position: relative;
   transform: translateY(10px);
 }

.swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   line-height: 20px;
   background-color: #ffffff;
   border: 1px solid black;
}

.swiper-pagination-bullet-active {
   background-color: #5C3249;
   border: 1px solid transparent;
}

.swiper-button-prev {
   color: $black;
}

.swiper-button-next {
   color: $black;
}

// @media screen and (max-width: 1093.50px) {
//    .swiper-text {
//       height: 100vh;
//    }
// }

@media screen and (max-width: 1024px) {
   .swiper-text p {
      font-size: 24px;
      line-height: 32px;
   }
   .swiper-text span {
      font-size: 12px;
      line-height: 14px;
   }
}

@media screen and (max-width: 768px) {
   .swiper-slide {
      display: flex;
      flex-direction: column;
    }
    .swiper-text {
      padding: 40px 0;
      width: 100vw;
      transform: translateY(-4px);
      text-align: center;
      & span, p {
         width: 275px;
      }
    }
    .swiper-button-prev {
      display: none;
   }
   
   .swiper-button-next {
      display: none;
   }
}



