// .wraper {
   
// }

.swiper {
   max-width: 100%;
   height: auto;
}

// .swiper-wrapper {
   
// }

// .swiper-slide{
   
// }

.slide-text {
   max-width: 100%;
   height: auto;
   background-color: #5C3249;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   & span, p {
      max-width: 330px;
      color: $white;
   }
}

.slide-text span {
   // max-width: 330px;
   font-family: 'Cardo';
   font-style: italic;
   font-weight: 400;
   font-size: 36px;
   line-height: 49px;
   // color: $white;
   text-transform: capitalize;
   margin-bottom: 15px;
}

.slide-text p {
   // max-width: 330px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 15px;
   // color: $white;

}

.swiper-slide img{
   max-width: 100%;
}

// .swiper-pagination {
   
// }

.swiper-pagination-bullet {
   width: 10px;
   height: 10px;
   line-height: 20px;
   background-color: #ffffff;
   border: 1px solid black;
}

.swiper-pagination-bullet-active {
   background-color: #fa0000;
   border: 1px solid transparent;
}

.swiper-button-prev {
   
}

.swiper-button-next {
   
}

@media screen and (max-width: 1024px) {
   .slide-text span {
      font-size: 24px;
      line-height: 32px;
   }
   .slide-text p {
      font-size: 12px;
      line-height: 14px;
   }
}



@media screen and (max-width: 576px) {
   .slide-text {
      & span, p {
         max-width: 275px;
      }
   }
    .slide-text span {
      font-size: 16px;
      line-height: 12px;
      margin-bottom: 10px;
   }
   .slide-text p {
      font-size: 10px;
      line-height: 12px;
   }
}

@media screen and (max-width: 320px) {
   .slide-text span {
      font-size: 13px;
      line-height: 10px;
      margin-bottom: 5px;
   }
   .slide-text p {
      font-size: 8px;
      line-height: 10px;
   }
}